.comment-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Стиль окремого коментаря */
  .comment-item {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Стиль для дати коментаря */
  .comment-date {
    font-size: 12px;
    color: #888;
  }
  
  /* Стиль для імені автора коментаря */
  .comment-author {
    font-weight: bold;
  }
  
  /* Стиль для тексту коментаря */
  .comment-text {
    margin-top: 5px;
  }
  
  
  .rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .full-width-textarea {
    width: 100%;
    
  }